{{define "add"}}
<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
    {{template "header" "add"}}
    <main>
        <form method="POST">
            <input type="text" placeholder="Put your data" name="blockData" required/>
            <button>Add Block</button>
        </form>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}